# Dependencies
node_modules
.pnpm-debug.log*

# Next.js
.next/
out/

# Build outputs
dist/
build/

# Environment variables
.env*
!.env.example

# Vercel
.vercel

# Turborepo
.turbo

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo
*.tsbuildinfo

# Backups & Temporary
*.bak
*.tmp
*.temp

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env*.local
.pnpm-store/

.gemini/
gha-creds-*.json
